@import "tailwindcss";

@plugin "@tailwindcss/typography";

:root {
  --dark-slate-gray: #335c67ff;
  --vanilla: #fffae5;
  --hunyadi-yellow: #e09f3eff;
  --auburn: #9e2a2bff;
  --chocolate-cosmos: #540b0eff;

  --background: var(--vanilla);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-caprasimo);

  --color-dark-slate: var(--dark-slate-gray);
  --color-chocolate: var(--chocolate-cosmos);
  --color-auburn: var(--auburn);
  --color-hunyadi-yellow: var(--hunyadi-yellow);

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans) sans-serif;
}

button.link,
a {
  @apply transition-[text-underline-offset] duration-150 ease-in-out;
  @apply font-semibold;
  @apply underline underline-offset-2 hover:underline-offset-4;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
  @apply font-display;
  @apply font-normal;
}

